# FTP_HOST=ftp.example.com
# FTP_PORT=21
# FTP_USER=my_user
# FTP_PASSWORD=my_password
# FTP_REMOTE_ROOT=/httpdocs/assets

# DRIVER
DRIVER_FTP_HOST=ftp.example.com
DRIVER_FTP_PORT=21
DRIVER_FTP_USER=my_user
DRIVER_FTP_PASSWORD=my_password
DRIVER_FTP_REMOTE_ROOT=/httpdocs/assets

# FORWARDER
FORWARDER_FTP_HOST=ftp.example.com
FORWARDER_FTP_PORT=21
FORWARDER_FTP_USER=my_user
FORWARDER_FTP_PASSWORD=my_password
FORWARDER_FTP_REMOTE_ROOT=/httpdocs/assets

# CUSTOMER
CUSTOMER_FTP_HOST=ftp.example.com
CUSTOMER_FTP_PORT=21
CUSTOMER_FTP_USER=my_user
CUSTOMER_FTP_PASSWORD=my_password
CUSTOMER_FTP_REMOTE_ROOT=/httpdocs/assets